.grid {
  display: grid;
  grid-template-columns: repeat(25, 35px);
}

.cell {
  height: 35px;
  width: 35px;
  border: 1px solid grey;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.center {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}