.profile-banner {
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
    background-color: rgba(98, 98, 98, 0.329);
    padding: 1%;
}

.profile-sign {
    text-align: left;
    margin-top: 2%;
    margin-left: 7%
}

.profile-bio {
    text-align: left;
    margin-top: 2%;
    margin-left: 7%
}

.astral-collection {
    padding-top: 2%;
    margin-left: 5%;
}

.fav-planets-list {
    text-align: left;
    margin-left: 5%;
    
}

.fav-const-list {
    text-align: left;
    margin-left: 5%;
}

.astral-banner {
    margin-bottom: 3%;
    text-align: left;
    background-color: rgba(98, 98, 98, 0.329);
    padding: 1%;
}

.const-item {
    text-align: left;
    margin-left: 5%;
    font-size: larger;
    margin-top: 1%;
}

.planet-item {
    text-align: left;
    margin-left: 5%;
    font-size: larger;
    padding-top: 1%;
    padding-bottom: 3%;
}

.delete-buttons {
    margin-left: 5%;
    margin-right: 5%;
    font-size: small;
}

#profile-picture {
    display: block;
    float: left;
    max-height: 250px;
    margin-right: 5%;
    margin-left: 5%;
    
    
}

.showpage {
    margin-left: 5%;
    font-size: larger;
}